header {
    display: flex;
    justify-content: space-between; /* 左右のコンテンツを画面の両端に配置 */
    align-items: center; /* 中央揃えにする */
    background-color: lightblue; /* ヘッダーの背景を水色に設定 */
}

.header_1 a {
    background-color: gray; /* ボタンの背景を茶色に設定 */
    color: white; /* テキスト色を白に設定 */
    padding: 8px 16px; /* テキスト周りのパディング */
    text-decoration: none; /* リンクの下線を削除 */
    border-radius: 5px; /* ボタンの角を丸くする */
    display: inline-block; /* パディングとボーダーを保持するために使用 */
    margin: 5px; /* ボタン間の間隔を追加 */
}

.header_2 a {
    color: white; /* テキスト色を白に設定 */
    padding: 8px 16px; /* テキスト周りのパディング */
    text-decoration: none; /* リンクの下線を削除 */
    border-radius: 5px; /* ボタンの角を丸くする */
    display: inline-block; /* パディングとボーダーを保持するために使用 */
    margin: 5px; /* ボタン間の間隔を追加 */
    text-align: right; /* 右側のコンテンツを右寄せにする */
}

.back {
    padding: 10px;
    border: none;
    text-decoration: none;
}

#date-time-form {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* 子要素をコンテナの幅いっぱいに広げる */
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.title-entry {
    display: flex;
    width: 100%; /* 全幅を使用 */
    margin-bottom: 10px;
}

.date-time-entry {
    display: flex;
    width: 100%; /* 全幅を使用 */
    justify-content: space-between; /* 要素間にスペースを均等に配分 */
    margin-bottom: 10px;
}

.date-time-entry label {
    margin-right: 5px; /* ラベルの右マージンを設定 */
}

.date-time-entry input {
    flex: 1; /* 入力フィールドが利用可能なスペースを均等に占める */
    margin-right: 10px; /* 入力フィールドの右マージン */
}

#add-button {
    background-color: green;
    color: white;
    border-radius: 50%; /* 丸形にする */
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
.delete-btn {
    background-color: red;
    color: white;
    border-radius: 50%; /* 丸形にする */
    padding: 10px;
    border: none;
    cursor: pointer;
}

#add-button::before, .delete-btn::before {
    content: '+'; /* プラスボタンの記号 */
    display: block;
    font-size: 20px;
}

.delete-btn::before {
    content: '−'; /* マイナスボタンの記号 */
}

.button-container {
    display: flex; /* Flexコンテナとして設定 */
    justify-content: center; /* 水平方向に中央揃え */
    text-align: center; /* テキストを中央に揃える */
    width: 100%; /* コンテナの幅を全幅に設定 */
    margin-top: 20px; /* 上部にマージンを追加 */
}


.submit-button {
    background-color: gray;
    color: white;
    padding: 10px 20px; /* サイズ調整 */
    border: none; /* 枠線なし */
    cursor: pointer; /* カーソルをポインターに */
}


/*curriculum_edit*/

.form-image-container {
    display: flex;
    align-items: center; /* 子要素を垂直方向に中央揃え */
    gap: 20px; /* 子要素間にスペースを設定 */
}

.file-input-container {
    display: flex;
    align-items: center;
    flex: 1; /* 必要に応じてフレキシブルに幅を取る */
}

.image-container {
    width: 150px; /* 適切な幅を設定 */
    height: 150px; /* 適切な高さを設定 */
    display: flex;
    margin-left: 150px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* サイズを維持して縮小させない */
}

#image-preview {
    max-width: 100%;
    max-height: 100%;
    display: block; /* 画像をブロック要素として表示 */
}

.form-container > div, .form-container > div {
    display: flex; /* フレックスコンテナとして設定 */
    align-items: center; /* アイテムを垂直方向の中心に揃える */
    margin-bottom: 10px; /* 各フィールドの下にマージンを設定 */
}

.form-container > div > label, .form-container > div > label {
    flex: 1; /* ラベルに適切なスペースを確保 */
    min-width: 100px; /* ラベルの最小幅を設定 */
    margin-right: 10px; /* ラベルとインプットの間にスペースを設定 */
    text-align: center; /* ラベルのテキストを中央揃えに設定 */
}

.form-container > div > input, .form-container > div > select, .form-container > div > textarea, .form-container aside > div > input, .form-container aside > div > select, .form-container aside > div > textarea {
    flex: 3; /* 入力フィールドにはより多くのスペースを確保 */
    width: auto; /* デフォルトの幅設定をオーバーライド */
}

.check {
    display: flex; /* Flexboxを使用して配置を管理 */
    justify-content: center; /* 要素を中央に配置 */
    padding-right: 10%; /* 右側にパディングを追加して左にシフト */
    width: 100%; /* コンテナの幅を全幅に設定 */
}
